@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="display-4 text-light">team members are:</p>
<div class="display-25 text-light">
    ali hesami
</div>
<div class="display-25 text-light">
    hamidreza bazir
</div>
<div class="display-25 text-light">
    mohammad dokoohaki
</div>
<div class="display-25 text-light">
    hosein arab nejad
</div>
<br />
<br />
<br />
<h4 class="display-20 text-light">
    and a special thanks to dr. ghazvini who helped us to get here
</h4>
<h4 class="display-20 text-light">
    and i wanna thanks my parents for helping me reach here
</h4>